<!-- {% load static %} -->
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}Chai aur Gaurav {% endblock %}</title>
  <link rel="stylesheet" href="{% static 'style.css' %}" />
  {% tailwind_css %}
</head>

<body>
  <nav class='text-2xl bg-red-700'>This is Navbar</nav>
  {% block content %}{% endblock %}
</body>

</html>